* {
  margin: 0;
  padding: 0;
}

/* #allContainer {
  background-color: blue;
} */

#recipesContainer {
  margin-top: 100px;
}
/* 
button {
  position: absolute;
  width: 276px;
  height: 40px;
  left: 42px;
  top: 662px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: #FCC436;
  border-radius: 5px;
  color: #FFFFFF;
}

#logo {
  position: absolute;
  width: 198px;
  height: 157.25px;
  left: 81px;
  top: 79.17px;

  filter: drop-shadow(0.785714px 13.3571px 10.2143px rgba(33, 18, 55, 0.2));
}

#backGround {
  position: absolute;
  width: 360px;
  height: 422px;
  left: 0px;
  top: 0px;
  background: #41197F;
  z-index: 0;
} */