* {
  margin: 0;
  padding: 0;
}

form {
  position: absolute;
  width: 360px;
  height: 147px;
  left: 0px;
  top: 0px;
  margin-bottom: 100px;
}

#search-input {
  box-sizing: border-box;

  position: absolute;
  width: 338px;
  height: 40px;
  left: 11px;
  top: 100px;

  background: #FFFFFF;
  border: 1px solid #B1B1B1;
  border-radius: 10px;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 337px;
  height: 88px;
  left: 11px;
  top: 140px;

  background: #41197F;
  border-radius: 0px 0px 20px 20px;
}

#exec-search-btn {
  position: absolute;
  width: 207.54px;
  height: 25px;
  left: 65px;
  top: 53px;
  border: none;

  background: #FCC436;
  border-radius: 5px;
}

#selectors-container {
  width: 207.54px;
  margin-left: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;

  color: #FFFFFF;
}
