.carDiv {
  margin: auto auto;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
}

.iten {
  min-height: 150px;
  min-width: 180px;
  padding: 10px
}

.iten img {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  pointer-events: none;
}

.carrousel {
  cursor: grab;
  overflow: hidden;
}