.carDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 360px;
}

.inner {
  display: flex;
}

.iten {
  min-height: 150px;
  min-width: 180px;
  padding: 10px;
  text-align: center;
}

.iten img {
  border-radius: 10px;
  height: 70%;
  pointer-events: none;
  width: 80%;
}

.carrousel {
  cursor: grab;
  overflow: hidden;
}

.fixed {
  background-color: black;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  cursor: pointer;
  margin: 5px;
  position: fixed;
  right: 170px;
}

.ingredientsCheckbox {
  display: flex;
}